@use '../../assets/styles/variables' as *;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 35px;
}

.page {
  width: 40px;
  height: 40px;
  border-radius: $radius-md;
  border: none;
  background: transparent;
  font-size: $font-xs;
  cursor: pointer;

  &:hover {
    background: #f0f0f0;
  }
}

.active {
  background: $color-border;
}

.arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  border-radius: $radius-md;
  cursor: pointer;
  transition: $transition-base;

  img {
    width: 20px;
    height: 20px;
    display: block;
  }

  &:hover:not(:disabled) {
    background: #f0f0f0;
  }

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.arrowRight {
  transform: rotate(180deg);
}

.dots {
  font-size: $font-md;
}
