@use '../../assets/styles/variables' as *;

.header {
  display: flex;
  align-items: center;
  background-color: $color-bg-base;
  border-bottom: 1px solid $color-border;
  height: 80px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.backIcon {
  cursor: pointer;
  flex-shrink: 0;
}

.title {
  font-weight: 500;
  font-size: $font-xl;
}

@media (max-width: 768px) {
  .header {
    height: 64px;
  }

  .left {
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 64px;
  }

  .backIcon {
    width: 28px;
    height: 28px;
  }
}
