.main {
  padding-bottom: 60px;
}

.info {
  background: #fff;
  border-radius: 15px;
  padding: 45px 40px;

  h2 {
    font-weight: 500;
    font-size: 20px;
    color: #333;
    margin-bottom: 25px;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    margin-bottom: 60px;
  }

  .lastUse {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 18px;
  }
}

.toggle {
  text-align: center;
  margin: 50px;

  &Btn {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 13px 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;

    &:hover {
      background: #3f3f3f;
    }
  }
}

.questions {
  padding: 45px;
  background: #fff;
  border-radius: 15px;

  h2 {
    font-weight: 500;
    font-size: 20px;
    color: #333;
    margin-bottom: 28px;
  }
}


.loadingState, .emptyState {
  text-align: center;
  padding: 30px;
  font-size: 18px;
  color: #666;
}

.errorState {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin: 20px 0;
}
