@use '../../assets/styles/variables' as *;

.header {
  display: flex;
  align-items: center;
  background-color: $color-bg-base;
  border-bottom: 1px solid $color-border;
  height: 80px;
  margin-bottom: 80px;
}

.inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 500;
    font-size: $font-lg;
    color: $color-text;
    margin-bottom: 6px;
  }
}

.questionCounter {
  font-weight: 400;
  font-size: $font-sm;
  color: $color-text-secondary;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;

  .closeIcon {
    transition: opacity $transition-speed;

    &:hover {
      opacity: 0.7;
    }
  }
}
