@use '../../assets/styles/variables' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px 0;
}

.modal {
  background-color: $color-bg-base;
  padding: 35px 40px 35px;
  border-radius: $radius-lg;
  width: 100%;
  max-width: 700px;
  box-shadow: $shadow-base;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  cursor: pointer;

  .closeIcon {
    width: 20px;
    height: 20px;
    stroke-width: 1.50px;
    color: $color-text-secondary;
    transition: color $transition-speed;

    &:hover {
      color: $color-dark;
    }
  }
}

.title {
  color: $color-text;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: $font-xl;
  text-align: center;
}

.label {
  display: block;
  font-size: $font-sm;
  color: $color-text;
  margin-bottom: 12px;
  font-weight: 400;
}

.inputGroup {
  position: relative;
  margin-bottom: 25px;

  input,
  textarea {
    width: 100%;
    background: $color-bg-gray;
    border: 1px solid $color-border;
    border-radius: $radius-md;
    font-weight: 400;
    font-size: $font-xs;
    color: $color-text;
    padding: 15px;
    line-height: 1.5;
    resize: none;
    transition: border-color $transition-speed;

    &:focus {
      outline: none;
      border-color: $color-border-hover;
    }

    &::placeholder {
      color: $color-text-muted;
    }
  }
}

textarea {
  min-height: 100px;
}

.modal .aiIcon {
  width: 24px;
  height: 24px;
}

.createBtn {
  width: 100%;
  padding: 15px;
  font-size: $font-sm;
  font-weight: 500;
  border: none;
  border-radius: $radius-md;
  cursor: pointer;
  transition: $transition-base;
  background-color: $color-primary;
  color: $color-text;

  &:hover {
    background-color: $color-primary-hover;
  }

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

.inputError {
  border-color: $color-error-base !important;
}

.errorMessage {
  color: $color-error-base;
  font-size: $font-xxs;
  position: absolute;
  left: 0;
  top: 100%;
}
