.card {
  background: #fff;
  border-radius: 15px;
  border: 1px solid #e1e1e1;
  padding: 27px 25px;
  display: flex;
  flex-direction: column;
  max-width: 352px;
  min-height: 290px;
}

.topContent {
  display: flex;
  flex-direction: column;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.name {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.amount {
  display: flex;
  margin-bottom: 16px;
  gap: 10px;
  align-items: flex-end;

  span {
    font-weight: 500;
    font-size: 15px;
    color: #6c6c6c;
  }
}

.row {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 20px;

  span{
    font-weight: 500;
    font-size: 14px;
    color: #6c6c6c;
  }
}

.progress {
  max-width: 260px;
  width: 100%;
  height: 9px;
  background: #f5f5f5;
  border-radius: 15px;
  border: 1px solid #c4c4c4;
  position: relative;
  overflow: hidden;
}

.bar {
  height: 9px;
  background: #ffdd2d;
  position: absolute;
  left: 0;
  top: -1px;
  border-radius: 15px;
}

.openBtn {
  background: #333;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: #3f3f3f;
  }
}
