@use '../../assets/styles/variables' as *;

.card {
  background: $color-white;
  border-radius: $radius-lg;
  border: 1px solid $color-border;
  padding: 27px 25px;
  display: flex;
  flex-direction: column;
  max-width: 352px;
  min-height: 290px;
}

.topContent {
  display: flex;
  flex-direction: column;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.name {
  font-weight: 500;
  font-size: $font-lg;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-weight: 400;
  font-size: $font-sm;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &Empty{
    color: $color-text-muted;
  }
}

.amount {
  display: flex;
  margin-bottom: 16px;
  gap: 10px;
  align-items: flex-end;

  span {
    font-weight: 500;
    font-size: $font-xs;
    color: $color-text-secondary;
  }
}

.row {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 20px;

  span{
    font-weight: 500;
    font-size: 14px;
    color: $color-text-secondary;
  }
}

.progress {
  max-width: 260px;
  width: 100%;
  height: 9px;
  background: $color-bg-gray;
  border-radius: $radius-lg;
  border: 1px solid $color-border-hover;
  position: relative;
  overflow: hidden;
}

.bar {
  height: 9px;
  background: $color-primary;
  position: absolute;
  left: 0;
  top: -1px;
  border-radius: $radius-lg;
}

.openBtn {
  background: $color-dark;
  font-weight: 500;
  font-size: $font-md;
  color: $color-white;
  border: none;
  border-radius: $radius-md;
  padding: 10px;
  cursor: pointer;
  transition: $transition-base;

  &:hover {
    background: $color-dark-hover;
  }
}
