.main{
  padding-bottom: 60px;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #333
}

.createBtn {
  display: flex;
  align-items: center;
  background: #ffdd2d;
  border: none;
  border-radius: 12px;
  padding: 15px 25px 15px 15px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: #333;
  transition: background-color 0.3s ease;

  &:hover {
    background: #ffcd32;
  }

  img{
    margin-right: 15px;
  }
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.emptyMessage {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 25px;
}

.emptySubMessage {
  font-size: 16px;
  color: #6c6c6c;
}

.loadingEmptyState{
  display: flex;
  justify-content: center;
}
