@use "../../assets/styles/variables" as *;

.content {
  display: flex;
  gap: 25px;
  padding: 40px 0 60px;
}

.sidebar {
  max-width: 320px;
  width: 100%;
  flex-shrink: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.tabs {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.tab {
  font-size: $font-xl;
  font-weight: 500;
  color: $color-text;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  transition: $transition-base;
}

.tabInactive {
  color: $color-border-hover;
  transition: color $transition-speed;

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1.5px;
    background: $color-text-secondary;
    transform: scaleX(0);
    transition: transform $transition-speed;
  }

  &:hover {
    color: $color-text-secondary;

    &::after {
      transform: scaleX(1);
    }
  }
}

.statusWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading, .error {
  font-size: $font-md;
  color: $color-text-secondary;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 270px;
  }

  .content {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 30px;
    padding: 30px 0 50px;
  }

  .sidebar {
    max-width: 100%;
  }

  .tabs {
    gap: 30px;
  }

  .block {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 20px 0 40px;
    gap: 20px;
  }

  .tabs {
    gap: 25px;
  }

  .block {
    gap: 16px;
  }
}
