@use '../../assets/styles/variables' as *;

.questionBlock {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  padding-bottom: 35px;
  border-bottom: 1px solid $color-border;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .question{
    width: 100%;
  }

  .questionIndex{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: $font-lg;
    color: $color-text;
    border-radius: $radius-sm;
    background: $color-bg-gray;
    max-height: 40px;
    max-width: 40px;
    width: 100%;
  }

  .questionText{
    font-weight: 500;
    font-size: $font-sm;
    margin-bottom: 20px;
  }
}
