.questionBlock {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  padding-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .question{
    width: 100%;
  }

  .questionIndex{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    border-radius: 8px;
    background: #f5f5f5;
    max-height: 40px;
    max-width: 40px;
    width: 100%;
  }

  .questionText{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
  }
}