.header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  height: 80px;
  margin-bottom: 50px;
}

.inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.backIcon {
  cursor: pointer;
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.buttons {
  display: flex;
  gap: 25px;
}

.editBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  padding: 10px 20px 10px 15px;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background: #f5f5f5;
  }
}

.startBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffdd2d;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px 15px;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background: #ffcd32;
  }
}
