@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $color-bg-gray;
  color: $color-text;
}

.container {
  max-width: 1164px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 360px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
