* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

.container {
  max-width: 1104px;
  margin: 0 auto;
}