@use '../../assets/styles/variables' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: $color-bg-base;
  border-radius: $radius-lg;
  padding: 45px 25px 60px;
  max-width: 380px;
  width: 100%;
  box-shadow: $shadow-base;
  position: relative;
  text-align: center;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  cursor: pointer;

  .closeIcon {
    width: 20px;
    height: 20px;
    stroke-width: 1.50px;
    color: $color-text-secondary;
    transition: color $transition-speed;

    &:hover {
      color: $color-dark;
    }
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 35px;
}

.stats {
  background: $color-bg-gray;
  border-radius: $radius-lg;
  padding: 20px;
  margin-bottom: 40px;

  .statRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-dark;
    font-weight: 400;

    p {
      font-size: $font-sm;
    }

    span {
      font-size: $font-md;
    }
  }

  .statPercent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;

    p {
      font-size: $font-sm;
    }

    span {
      font-size: $font-md;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;

  button {
    position: relative;
    height: 40px;
    padding: 20px 0;
    font-weight: 400;
    font-size: $font-sm;
    border-radius: $radius-md;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: $transition-base;
  }

  .retryButton,
  .fixButton,
  .reminderButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reloadIcon,
  .bellIcon {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 15px;
  }

  .arrowIcon{
    position: absolute;
    width: 16px;
    height: 16px;
    right: 17px;
  }

  .retryButton {
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  .fixButton {
    background-color: $color-dark;
    color: $color-white;

    &:hover {
      background-color: $color-dark-hover;
    }
  }

  .reminderButton {
    background-color: $color-bg-base;
    border: 1px solid $color-border;

    &:hover {
      background: $color-bg-gray;
    }
  }
}
